<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="P_threshold" value ="5.0"/>
		<add key ="CO_threshold" value="10.0"/>
		<add key ="NO2_threshold" value="2.0"/>
	</appSettings>

	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="SensorTcpBinding"
                         transferMode="Streamed"
                         maxReceivedMessageSize="2147483647"
                         sendTimeout="00:10:00"
                         receiveTimeout="00:10:00">
					<security mode="None" />
				</binding>
			</netTcpBinding>
		</bindings>

		<services>
			<service name="Service.SensorService">
				<endpoint address="net.tcp://localhost:4005/SensorService"
                          binding="netTcpBinding"
                          bindingConfiguration="SensorTcpBinding"
                          contract="Common.ISensorService" />
			</service>
		</services>
	</system.serviceModel>
</configuration>